
body{
    background: #BDBDBD;
}
.card-title{
    color: blue;
}
.card{
    border: none;
    border-radius: 0%;

#form {
    background-color: rgb(243, 241, 241);
    padding: 1.5rem;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    border-radius: 2px;
    box-sizing: border-box;
}

#copyright {
   margin: 4rem auto 0 auto;
    max-width: 1350px;
    font-size: 0.9rem;
    text-align: left; 
    padding: 0 1rem;
}

.contact-parrafo {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
}

#staticEmail {
    border: none !important;
    outline: none !important;
    padding: 8px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}