
<div class="container">
  <div class="row justify-content-center"></div>

</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">dirección mail </label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <button type="submit" class="btn btn-primary px-4">Submit</button>
</div>