<!-- your html code here -->
<div>
    <div>
        <h1>Contact</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, itaque consectetur quaerat similique maiores ipsum blanditiis fuga veniam amet nostrum enim eveniet, in labore dolores autem necessitatibus sint repellat? Repellat.</p>
    </div>
    <div class="container mt-5">
        <div class="card p-4 bg-light">
          <form>
            <div class="row mb-3">
              <label for="email" class="col-sm-2 col-form-label fw-bold">Your E-mail</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Your email">
              </div>
            </div>
    
            <div class="row mb-3">
              <label for="message" class="col-sm-2 col-form-label fw-bold">Your message</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="message" rows="4" placeholder="Please enter your message here..."></textarea>
              </div>
            </div>
    
            <div class="row">
              <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary float-end">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>