  <div class="container mt-5q"; style="margin-top: 100px;">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2><strong>This First Heading</strong> Will Catch Your Eye</h2>
        <p class="text-muted">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
          Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img style="width:150px;height:150px;border-radius:80%;"src="https://tse3.mm.bing.net/th?id=OIP.lBw9WXn6kXNjN3ThhBOzGAHaHa&pid=Api" alt="Breakin bad" class="circle-img">
      </div>
    </div>
  </div>