<!-- your html code here -->
<div class="container border-top border-bottom">
    <div class="row mt-5 mb-5">
        <div class="col-md-8 ">
            <h2>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
            <p>Donec ullamcorper nulla nim metus auctor fringilla. Vestibilum id ligula porta felis eusmod semper.
                Praesent
                commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-4 mb-4"> <img src="assets/img/1.jpg" class="rounded-circle" width="400" height="400"
                alt="foto">
        </div>
    </div>
</div>