 <div class="row align-items-center">
        <div class="col-md-8">
            <div class="row" style="text-align: center;">
                <div class="col-md-6">
                    <h2>This First Heading</h2>
                </div>
                <div class="col-md-6">
                    <h2 style="color: grey;">Will Catch Your Eye</h2>
                </div>
            </div>
            <p>Donec ullamcorper nulla non metus auctor fringilla. 
            Vestibulum id ligula porta felis euismod semper. 
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-4 text-center text-md-left mb-3 mb-md-0">
            <img src="https://tse3.mm.bing.net/th?id=OIP.lBw9WXn6kXNjN3ThhBOzGAHaHa&pid=Api" alt="Imagen descriptiva" style="width: 150px; height: 150px;object-fit:cover; border-radius: 80%;">
        </div>
    </div>
</div>