<!-- your html code here -->
<hr class="featurette-divider">

    <div class="container ">
    <div class="row">
      <div class="col-9">
        <h1>The first Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
        <p class="fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo recusandae qui nesciunt autem dignissimos cumque quia veritatis, optio perferendis ducimus quos saepe, doloremque natus animi ut vero, odit officia exercitationem.</p>
      </div>
       <div class="col-3">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/03/Walter_White_S5B.png/250px-Walter_White_S5B.png"  class="rounded rounded-circle" alt="heisenberg" style="width: 330px; height: 330px;">
      </div>
    </div>
  </div>
