<!-- your html code here -->
 <!--primera parte del div del medio-->
<div class="container my-5">
    <div class="row align-items-center">
      <!--el texto que se usa en medio-->
      <div class="col-md-8 col-sm-12">
        <h2>
          <b>Simon Bolivar </b> 
          <span class="text-body-secondary">El libertador</span>
        </h2>
        <p class="text-body-secondary">
          Bolívar es uno de los más complejos y hermosos especímenes de Humanidad.” Simón Bolívar, conocido como el “Libertador de América”, fue un militar y político venezolano que por 20 años combatió contra la corona española para lograr la independencia de Bolivia, Colombia, Ecuador, Perú y Venezuela
        </p>
      </div>

      <div class="col-md-4 col-sm-12 text-center">
        <img src="https://i.pinimg.com/236x/8a/02/80/8a02800bea601b0c15f29cbb9f470aac.jpg" alt="Perfil" class="img-fluid rounded-circle" width="150">
      </div>
      
    </div>
</div>
