<div class="container py-5">
    <div class="row align-items-center flex-md-row-reverse">
        <div class="col-md-8">
          <h2>
            <span class="heading-strong">¿Sabías que los perros sueñan como los humanos?</span>
            <br>
            <span class="heading-muted">Así es:</span>
          </h2>
          <p>
            Al igual que nosotros, los perros pasan por fases de sueño profundo y REM. Durante esta última etapa, se ha observado que mueven las patas, lloriquean o incluso ladran suavemente, lo que indica que están soñando. Se cree que reviven momentos de su día, como jugar o correr.
          </p>
        </div>
        <div class="col-md-4 text-center">
          <img src="https://plus.unsplash.com/premium_photo-1665952050051-8fc03087677a?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="circle-img" alt="Imagen 2">
        </div>
      </div>

    </div>
</div>