<!-- your html code here -->
<nav class="nav bg-dark fixed-top">
    <a class="nav-link active text-white-50 fs-5" aria-current="page" href="#start">Start Bootstrap</a>
    <a class="nav-link text-white-50 align-self-center" href="#about">About</a>
    <a class="nav-link text-white-50 align-self-center" href="#services">Services</a>
    <a class="nav-link text-white-50 align-self-center" href="#portfolio">Portfolio</a>
    <a class="nav-link text-white-50 align-self-center" href="#contact">Contact</a>
</nav>