<!-- navbar Ricardo -->

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#"><img src="https://raw.githubusercontent.com/4GeeksAcademy/exercise-collaborative-html-website-Equipo3/refs/heads/master/website/assets/img/logo-rectangular-blanco.png" width="120px" height="30px" alt="Frecuencia mutante"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link active link-light" aria-current="page" href="#" >About</a>
        <a class="nav-link link-light" href="#">Services</a>
        <a class="nav-link link-light" href="#">Portfolio</a>
        <a class="nav-link link-light" href="#">Contact</a>
      </div>
    </div>
  </div>
</nav>