
<div class="container-fluid ">
    <div class="row justify-content-center">
    
        <h1 class="col-12">Portfolio</h1>
        <p class="col-12">Caracas es la capital y ciudad más grande de Venezuela, ubicada en un valle dentro de la Cordillera de la
                Costa, a unos 900 metros sobre el nivel del mar. Es el principal centro administrativo, financiero,
                comercial y cultural del país. Conocida por su clima agradable, a menudo llamado "Ciudad de la Eterna
                Primavera", y su rica historia y diversidad cultural.
        </p> 
       
        <div class="col-md-4 d-flex">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYTsbHGjsod87HbOK4z_KO_FG23Zn3Tz6Y7g&s" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-primary">Proyect title</h2>
                    <p class="card-text">Some quick example text to build on th text-primarye Proyect title and make up the bulk of the
                        cards content.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYTsbHGjsod87HbOK4z_KO_FG23Zn3Tz6Y7g&s" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-primary">Proyect title</h2>
                    <p class="card-text">Some quick example text to build on th text-primarye Proyect title and make up the bulk of the
                        cards content.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYTsbHGjsod87HbOK4z_KO_FG23Zn3Tz6Y7g&s" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-primary">Proyect title</h2>
                    <p class="card-text">Some quick example text to build on th text-primarye Proyect title and make up the bulk of the
                        cards content.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>


