<div class="container bg-white text-dark my-5">
    <div class="row mb-2">
      <div class="col-12">
        <h2 class="mb-2 px-2">Portfolio</h2>
        <p class="mb-2 px-2 fw-light fs-5" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
    <div class="row gx-4">
      <div class="col-md-4">
        <div class="card border-0">
          <img src="https://t4.ftcdn.net/jpg/02/61/49/05/360_F_261490536_nJ5LSRAVZA0CK9Nvt2E1fXJVUfpiqvhT.jpg" class="card-img-top px-2" style="height: 200px;">
          <div class="card-body px-2 py-3">
            <a href="#" class="text-decoration-none">
              <h4 class="mb-2">Project Name</h4>
            </a>
            <p class="card-text mb-0" style="font-size: 15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card border-0">
          <img src="https://t4.ftcdn.net/jpg/02/61/49/05/360_F_261490536_nJ5LSRAVZA0CK9Nvt2E1fXJVUfpiqvhT.jpg" class="card-img-top px-2" style="height: 200px;">
          <div class="card-body px-2 py-3">
            <a href="#" class="text-decoration-none">
              <h4 class="mb-2">Project Name</h4>
            </a>
            <p class="card-text mb-0" style="font-size: 15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card border-0">
          <img src="https://t4.ftcdn.net/jpg/02/61/49/05/360_F_261490536_nJ5LSRAVZA0CK9Nvt2E1fXJVUfpiqvhT.jpg" class="card-img-top px-2" style="height: 200px;">
          <div class="card-body px-2 py-3">
            <a href="#" class="text-decoration-none">
              <h4 class="mb-2">Project Name</h4>
            </a>
            <p class="card-text mb-0" style="font-size: 15px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  