<!-- your html code here -->

<div class="container mt-5 mb-3"> 
    <h1 class="fw-bold mb-3">Meet the Breaking Bad characters</h1> 
    <p class="mb-3"> Step into the morally complex universe of Breaking Bad as we explore the pivotal characters who shaped its destiny. Witness extraordinary transformations, intricate alliances, and the chilling consequences that unfold behind the rise and fall of an illicit empire.</p>
</div>

<div class="container mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">

        <div class="col">
            <div class="card h-100">
            <img src="/website/assets/img/jesse-pinkman-cover-1020x560_kpd.jpg" class="card-img-top img-fixed-height object-fit-cover" alt="Jesse-Pinkman">
            <div class="card-body">
                <h5 class="card-title text-dark"> Jesse Pinkman </h5>
                <p class="card-text">Yo, what up, bitch? Jesse is Walter White's unpredictable partner, often struggling with the moral implications of their business.</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
            <img src="/website/assets/img/gus_y5kz.1200.webp" class="card-img-top img-fixed-height object-fit-cover" alt="Gustavo-Fring">
            <div class="card-body">
                <h5 class="card-title text-dark">Gustavo Fring </h5>
                <p class="card-text"> A calm and calculating drug lord. Gustavo Fring runs a vast criminal empire hidden behind Los Pollos Hermanos. His polite demeanor masks a chilling ruthlessness.</p>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
            <img src="/website/assets/img/48195_43ba882945-t.jpg" class="card-img-top img-fixed-height object-fit-cover" alt="Saul-Goodman">
            <div class="card-body">
                <h5 class="card-title text-dark">Saul Goodman</h5>
                <p class="card-text">The ethically flexible criminal lawyer. When you're in a bind and need a solution, no matter how unconventional, Saul's your guy. Better call him!</p>
            </div>
            </div>
        </div>
    </div>
</div>    

<div class="container mt-5 mb-5">
  <br>
  <hr>
</div>
