<!-- your html code here -->
<section id="portfolio" class="border-top mt-5">
    <div class="container pt-5">
        <div class=" mx-3 px-4">
            <div class="row">
                <h2><b>Portfolio</b></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at purus sagittis dolor pretium aliquet vitae et odio. Morbi tincidunt ex in lorem commodo, ac faucibus nulla elementum.</p>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 col-sm-8 mt-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.pexels.com/photos/33247091/pexels-photo-33247091.jpeg" class="card-img-top" alt="">
                        <div class="card-body overflow-auto" style=" height:10rem;">                        
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at purus sagittis dolor pretium aliquet vitae et odio. Morbi tincidunt ex in lorem commodo, ac faucibus nulla elementum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 mt-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.pexels.com/photos/33247091/pexels-photo-33247091.jpeg" class="card-img-top" alt="">
                        <div class="card-body overflow-auto" style=" height:10rem;">                        
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at purus sagittis dolor pretium aliquet vitae et odio. Morbi tincidunt ex in lorem commodo, ac faucibus nulla elementum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 mt-3 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://images.pexels.com/photos/33247091/pexels-photo-33247091.jpeg" class="card-img-top" alt="">
                        <div class="card-body overflow-auto" style=" height:10rem;">                        
                            <h5 class="card-title text-primary">Project Name</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at purus sagittis dolor pretium aliquet vitae et odio. Morbi tincidunt ex in lorem commodo, ac faucibus nulla elementum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
 </section>