<!-- your html code here -->
<div class="card m-auto p-3" >
    <div class="row g-0 justify-content-center">
    <div class="col-md-3 p-5 pe-0">
        <img src="/website/assets/img/2.jpg" class="img-fluid rounded-circle" >
    </div>
      <div class="col-md-6">
        <div class="card-body mt-4 ms-0 me-4 p-0">
          <h2 class="card-title"><b>The Second Heading</b><b class="text-muted"> Is Pretty Cool Too.</b></h2>
          <p class="card-text">Donac ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
    </div>
  </div>