<!-- your html code here -->

<div class="container mt-5 border-bottom mb-5">

    <div class="row mb-5">
        <div class="col-md-5"> <img src="assets/img/2.jpg" class="rounded-circle" width="400" height="400"
                alt="teclado">
        </div>
        <div class="col-md-7">
            <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
            <p>Donec ullamcorper nulla nim metus auctor fringilla. Vestibilum id ligula porta felis eusmod semper.
                Praesent
                commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>