<div class="container content-section">
    <div class="row align-items-center"> <div class="col-md-4 text-center text-md-left mb-3 mb-md-0"> <img src="https://tse4.mm.bing.net/th?id=OIP.W9jm3do9gp-Byyk7EZauewHaE8&pid=Api" alt="Imagen descriptiva" style="width: 150px; height: 150px;object-fit:cover; border-radius: 80%;"> 
        </div>
        <div class="col-md-8">
            <div class="row" style="text-align: center;">
                <div class="col-md-6">
                    <h2>The Second Heading</h2>
                </div>
                <div class="col-md-6">
                    <h2 style="color: grey;">Pretty Cool Too</h2>
                </div>
            </div>
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>