<div class="position-relative text-center container-fluid p-0">

<!-- Banner-->
<img src="https://raw.githubusercontent.com/4GeeksAcademy/exercise-collaborative-html-website-Equipo3/refs/heads/master/website/assets/img/banner-principal-paginaweb.png"
       class="w-100" style="display: block; height: auto;">

<!-- Titulo -->
<div class="position-absolute start-50 translate-middle-x w-100" 
       style="top: 10%; background-color: rgba(255, 255, 255, 0.8); padding: 20px 0;">
  <h1 class="fw-bold mb-0 text-center" style="font-size: 5vw; color: black;">FRECUENCIA MUTANTE</h1>
</div>

<!-- Subtitulo -->
<div class="position-absolute start-50 translate-middle-x w-100"
       style="top: 40%; background-color:rgba(255, 255, 255, 0.8); padding: 5px 0;"> 
    <h5 class="fw-normal text-center" style="font-size: 4vw; color: black;">Cambiamos con tu ritmo</h5>
</div>
</div>
